h2 {
    color: #008080;
    background-color: #0a0a0a;
}

button {
    color: #ff00ff;
    background-color: #00ffff;
}

p {
    color: #808000;
    background-color: #a52a2a;
}

body {
    background-color: #f0f0f0;
}