div {
    width: 200px;
    height: 200px;
    background-color: #e5989b;
}

h1 {
    background-color: pink;
    width: 100px;
    padding-left: 100px;
    padding-top: 50px;
}

#one {
    background-color: #d89092;
    border: 4px solid black;
    border-radius: 100%;
    
}

#two {
    background-color: #c48284;
    border-color: black;
    border-width: 3px;
    border-style: dashed;
    padding-right: 50px;
}

#three {
    background-color: #926163;
    border-color: black;
    border-width: 5px;
    border-style: double;
}

button {
    padding: 1em;
}